.login-form input {
    display: block;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1rem;
    padding: 7px;
    color: var(--primary-color);
    border-radius: var(--border-radius); 
    border: 1px solid var(--secondary-color);
    width: 290px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input:focus {
    outline: none;
}

.login-option-text {
    font-size: .95rem;
    text-align: center;
    margin-bottom: 10px;
}


.login-option-text:last-child {
    margin-bottom: 20px;
}

.login-option-text span {
    color: var(--accent-color)
}

.login-option-text span:hover { 
    cursor: pointer;
}

.error-text {
    color: red;
    text-align: center;
    position: relative;
    top: -5px;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
}

button[type="submit"] {
    border: 1px solid transparent;
    display: block;
    color: var(--black);
    padding: 3px 17px;
    border-radius: var(--border-radius);
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: var(--tertiary-color);
}

button[type="submit"]:hover {
    cursor: pointer;
    color: var(--accent-color);
    
}

button[type="submit"]:active {
    color: var(--off-white);
    cursor: pointer;

}

.loading-icon {
    text-align: center;
    margin-top: 0;
}


