/*  GLOBAL VARAIABLES */
:root {
  /*  COLORS */
  --primary-color: #182B49;
  --secondary-color: #00629B;
  --tertiary-color: #C69214;
  --accent-color:#FFCD00;
  --black: #0c0b0b;
  --off-white: rgb(232, 224, 224);

  /* Border Radius */
  --border-radius: 4px;
}


/* ///////////////////////////////////// CSS RESET ///////////////////////////// */
/* Resets the box size of every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html, body {
  color: var(--off-white);
}

html {
  background-color: var(--primary-color);
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  background-color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* Matches the font of special elements to the rest of the page */
input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

/* Removes default bullet points from lists */
ol, ul {
  list-style: none;
}

/* /////////////////////////////////// RESET OVER ////////////////////////// */

.homepage-greeting {
  position: absolute;
  top: 90px;
  right: 20px;
  font-size: .9rem;
  font-style: italic;
  color: var(--accent-color)
}

.page-heading {
  width: fit-content;
  padding: 0 30px;
  margin: 0 auto;
  font-size: 1.6rem;
  letter-spacing: 5px;
  background-color: var(--tertiary-color);
  border-radius: var(--border-radius);
  padding: 10px 25px;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 7px 4px rgba(0, 0, 0, 0.35);
  border: 1px solid var(--tertiary-color)
}



.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 55;
  padding: 20px;
  padding-top: 40px;
}

.modal-container .modal {
  width: fit-content;
  max-width: 700px;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 20px;
  padding-bottom: 0px;
  background-color: var(--primary-color);
  min-height: 250px;
  transform: translateY(-500px);
  animation: slideDown .2s ease-out both;
}

@keyframes slideDown {
  to {
    transform: translateY(0px);
  }
}

/* profile pic margin for all posts and comments */
.profile-pic {
  margin-right: 8px;
}

/* //////////////////// Utilities////////////////// */

/* flex box */
.flex-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-box-sa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.flex-box-sb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-box-se {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}