/*  GLOBAL VARAIABLES */
:root {
  /*  COLORS */
  --primary-color: #182B49;
  --secondary-color: #00629B;
  --tertiary-color: #C69214;
  --accent-color:#FFCD00;
  --black: #0c0b0b;
  --off-white: rgb(212, 205, 205);

  /* Border Radius */
  --border-radius: 4px;
}


/* ///////////////////////////////////// CSS RESET ///////////////////////////// */
/* Resets the box size of every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html, body {
  background-color: var(--secondary-color);
  color: var(--off-white);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* Matches the font of special elements to the rest of the page */
input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

/* Removes default bullet points from lists */
ol, ul {
  list-style: none;
}

/* /////////////////////////////////// RESET OVER ////////////////////////// */

.page-heading {
  width: fit-content;
  padding: 0 30px;
  margin: 0 auto;
  font-size: 2rem;
  background-color: var(--tertiary-color);
  border-radius: var(--border-radius);
  padding: 10px 60px;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 7px 4px rgba(0, 0, 0, 0.35);
  border: 1px solid var(--tertiary-color)
}



.modal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container .modal {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid white;
  border-radius: var(--border-radius);
  padding: 20px;
  background-color: var(--primary-color);
}