.post-section {
    width: 85%;
    min-width: 330px;
    margin: 40px auto;
    border-radius: var(--border-radius);
    border: 1px solid rgba(163, 198, 22, 0.2);
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
}

.post-header {
    display: flex;
    flex-wrap: wrap;
    color: var(--tertiary-color);
    justify-content: space-between;
    padding: 10px;
}

.post-body {    
    padding: 0px 30px;
    padding-top: 0;
    line-height: 1.2;
    font-size: 1rem;
}

.post-body h3 {
    text-align: center;
    color: var(--accent-color);
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    color: var(--tertiary-color);
    padding: 10px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* this is the hover over 'comments' and 'reply' */
.post-footer p:hover {
    cursor: pointer;
    color: var(--accent-color)
}
