.navLinks ul li, .navLinks ul li a {
    list-style-type: none;
    display: inline;
    margin-right: 12px;
    color: var(--off-white);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

/* style for logout */
.navLinks ul li p {
    display: inline;
    margin-right: 0;
}

.navLinks ul li a:hover, .navLinks ul li p:hover{
    cursor: pointer;
    color: var(--accent-color)
}

/* mobile styles */
@media screen and (max-width: 700px) {
    .navLinks ul {
        position: absolute;
        top: 79px;
        left: 0px;
    }

    .navLinks ul li {
        list-style-type: none;
        display: block;
        margin-right: 10px;
        text-decoration: none;
    }
}