.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    height: 80px;
    padding: 5px 10px 0 20px;
    background-color: var(--primary-color);
}

.logo {
    border: none;
    position: absolute;
    top: 4px;
    width: 100px;
    height: 100px;
}