.chatbox-main-section {
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    margin-top: 70px;
}

.chatbox-aside {
    flex: 1;
    background-color: var(--primary-color);
    overflow-y: scroll;
    width: 100%;
    padding: 0;
}
.chatbox-aside::-webkit-scrollbar {
    width: 0px;
}

.chatbox-aside a:first-child {
    border-top: 1px solid var(--black);
}
.chatbox-aside a {
    display: block;
    text-decoration: none;
    color: var(--off-white);
    padding: 25px;
    border-bottom: 1px solid var(--black)
}
.chatbox-aside a:hover {
    cursor: pointer;
    background-color: var(--primary-highlight);
}

.message-text-screen {
    flex: 2;
    position: relative;
    overflow-y: scroll;
    background-color: var(--off-white);
    color: var(--off-white);
    border-top: 1px solid black;
}

.message-text-screen::-webkit-scrollbar {
    width: 0px;
}

.message-justify-left {
    display: flex;
    justify-content: flex-start;
}
.message-justify-right {
    display: flex;
    justify-content: flex-end;
}

.message-bubble {
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 5px;
    min-width: 140px;
    margin-top: 20px;
    max-width: 70%;
    line-height: 1.3;
    position: relative;
    font-size: .93rem;
    border-radius: var(--border-radius);
    word-wrap: break-word;
}

.message-bubble:last-child() {
    margin-bottom: 100px;
}

.incoming-message-bubble {
    background-color: var(--primary-color);
    margin-left: 20px;
   
}

.outgoing-message-bubble {
    background-color: var(--secondary-color);
    right: 0px;
    margin-right: 20px;
}

.message-timestamp {
    font-size: .78rem;
    margin-top: 10px;
    font-style: italic;
    display: flex;
    justify-content: space-between;

}
.sender-info-div {
    position: absolute;
    padding-top: 10px;
    display:flex;
    justify-content: space-between;
    font-size: .86rem;
    color: var(--primary-color);
    top: -27px;
    left: 5px;
}

.text-messages-area {
    margin-bottom: 120px;
}

.type-message-div {
    background-color: var(--primary-color);
    height: 130px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 66.8%;
    border-left: 1px solid black;
}

.type-message-div textarea {
    border-radius: var(--border-radius);
    background-color: var(--off-white);
    resize: none;
    width: 90%;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    font-weight: 300;
}

.type-message-div textarea:focus {
    outline: none;
    border: none;
}

.type-message-div .send-icon {
    position: absolute;
    bottom: 40px;
    right: 7%;
    font-size: 1.8rem;
    color: var(--primary-color)
}

.type-message-div .send-icon:hover {
    cursor: pointer;
    color: var(--tertiary-color)
}



