.post-form-textarea-div {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    min-width: 290px;
}

.post-form-textarea {
    resize: none;
    margin: 0 auto;
    font-weight: 500;
    border: none;
    width: 100%;
    background-color: var(--off-white);
    padding: 8px;
    height: 140px;
    letter-spacing: 1px;
    border-radius: var(--border-radius) var(--border-radius) 0 0 ;
    color: var(--black);
}
.post-form-textarea::placeholder {
    color: rgba(13, 13, 156, 0.7);
    font-size: .95rem;
    font-style: italic;
}

.post-form-textarea::-webkit-scrollbar {
    width: 2px;
}

.post-form-textarea:focus {
    outline: none;
    border: none;
}

.post-form-textarea-div .send-icon {
    background-color: var(--off-white);
    text-align: right;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 0 10px 2px 0;
    margin-top: -10px;
    margin-bottom: 50px;
    font-size: 1.3rem;
    color: var(--primary-color);
    transition: .15s;

}

.post-form-textarea-div .send-icon svg:hover { 
    cursor: pointer;
    color: var(--tertiary-color)
}

.error-text-post-form {
    color: red;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}